{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block header %}
    Admin Dashboard
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="card">
            <h2>{{ total_products }}</h2>
            <p>Total Products</p>
            <div class="actions">
                <a href="{% url 'admin_app:product_list' %}">Manage Products</a>
                {% comment %} <a href="{% url 'product_add' %}" class="add-btn">Add Product</a> {% endcomment %}
            </div>
        </div>
        <div class="card">
            <h2>{{ pending_store_requests }}</h2>
            <p>Pending Store Requests</p>
            <div class="actions">
                <a href="{% url 'admin_app:store_approval_list' %}">View Store Approvals</a>
            </div>
        </div>
        <div class="card">
            <h2>{{ total_users }}</h2>
            <p>Total Users</p>
            <div class="actions">
                <a href="{% url 'admin_app:user_list' %}">Manage Users</a>
                <a href="{% url 'user_add' %}" class="add-btn">Add User</a>
            </div>
        </div>
        <div class="card">
            <h2>{{ total_sellers }}</h2>
            <p>Total Sellers</p>
            <div class="actions">
                <a href="{% url 'admin_app:user_list' %}">Manage Sellers</a>
                <a href="{% url 'admin_app:seller_add' %}" class="add-btn">Add Seller</a>
            </div>
        </div>
    </div>
{% endblock %}
